---
- name: Login to container registry
  kayobe_container_login:
    registry_url: "{{ deploy_containers_registry or omit }}"
    username: "{{ deploy_containers_registry_username }}"
    password: "{{ deploy_containers_registry_password }}"
    reauthorize: yes
  when:
    - deploy_containers_registry_attempt_login | bool
  become: "{{ container_engine == 'podman' }}"

- name: Deploy containers (loop)
  include_tasks: deploy-container.yml
  vars:
    container_name: "{{ item.key }}"
    container_config: "{{ item.value }}"
  with_dict: "{{ deploy_containers_containers }}"
